<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图书</title>
    <p></p>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <script src="/static/js/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>
    <div class="container">
        <h3>添加图书</h3>
        <form action="{% url 'booktest:addbookhandler' %}" method="post">
            图书名：<input type="text" name="btitle"><br>
            <p></p>

            {# <input type="submit" value="提交"> #}
            <input type="submit" class="btn btn-warning" value="提交">

        </form>

    </div>

</body>
</html>