<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    {# 去除静态文件static链接硬编码 #}
    <link rel="stylesheet" href="/static/css/main.css">
    {# { % load static from staticfiles % } #}
    {# <link rel="stylesheet" href="{ % static '/css/main.css' % }"> #}
</head>
<body>

    <div class="container">
        {% if username %}
        <h1>{{username}}</h1>
        {% else %}
            <h2>{{没有信息}}</h2>
        {% endif %}

        <img src="/static/img/pang.jpg" alt="图片加载失败" width="1100">
        {# <img src="{% static '/img/pang.jpg' %}" alt="图片加载失败" width="1100"> #}
        {# 超级链接硬编码 #}
        {#<a href="/booktest/list/">进入列表页</a>#}
        {# 去除硬编码 #}
        <a href="{% url 'booktest:list' %}">进入列表页</a>
    </div>
</body>
</html>